<!DOCTYPE html>
<html>
  <head>
    <title>Judith und Phlipp kommen wieder ins Allgäu</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="config.js"></script>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
      .free {background-color: #d4edda}
      .occupied {background-color: #f8d7da}
      body{  display: -ms-flexbox; display: flex; -ms-flex-align: center; align-items: center;  padding-top: 90px; padding-bottom: 40px; background-color: #f5f5f5;}
      #calendar {margin: auto}
      #newEvent { width: 100%; max-width: 420px;}
      small.error { visibility: collapse; }
    </style>
  </head>
  <body>
    <div id="calendar">
      <form @submit="createEvent" v-if="currentEvent == null" >
	<div class="form-group">
	  <label for="eventName">Name</label>
	  <small id="eventNameErrorMissing" class="text-danger error">
	    Provide a name for your event.
	  </small>
	  <input v-model="newEvent.name" type="text" class="form-control"
		 id="eventName" placeholder="Name your event.">
	</div>
	<div class="form-group">
	  <label for="eventDescription">Description</label>
	  <textarea v-model="newEvent.description" class="form-control"
		    id="eventDescription" rows="3"
		    placeholder="Describe your event."></textarea>
	</div>

	<div class="form-group" v-if="newEvent.proposals.length > 0">
	  <label for="eventDescription">Proposed dates</label>
	  <small id="eventProposalsTooFew" class="text-danger error">
	    Provide at least to different dates people can choose from.
	  </small>
	  <ul id="proposedDates" class="list-group">
	    <li class="list-group-item d-flex justify-content-between align-items-center"
		v-for="p in newEvent.proposals"
		v-bind:class="{'list-group-item-warning': duplicateProposal != null
			      && duplicateProposal == p.getTime()}">
	      {{p.toLocaleDateString()}}
	      <span class="badge">
	        <i class="bi bi-trash" v-on:click="removeProposal(p)"></i>
	      </span>
	    </li>
	  </ul>
	</div>

	<div class="form-group">
	  <label for="dateFieldInput">Choose some dates others can pick</label>
	  <small id="duplicateProposal" class="text-danger error">The proposal is already there</small>
	  <div class="input-group mb-3">
	    <input type="date"
		   name="trip-start"
		   id="dateFieldInput"
		   class="form-control"
		   aria-label="Propose date"
		   v-model="newProposal"
		   >
	  <div class="input-group-append">
	    <button class="btn btn-s btn-primary"
		    type="button"
		    v-on:click="addProposal"
		    v-if="newProposal">
	      <i class="bi bi-plus-lg"></i>
	    </button>
	  </div></div>
	</div>

	<button type="submit" class="btn btn-primary">
	  Let the people vote for a date!
	</button>
      </form>
      <div v-if="currentEvent != null">
	<h1>{{currentEvent.name}}</h1>
	<blockquote class="blockquote">
	  <p class="mb-0">{{currentEvent.description}}</p>
	</blockquote>
      <table class="table">
	<thead>
	  <tr>
	    <th scope="col">&nbsp;</th>
	    <th v-for="p in currentEvent.proposals">{{new Date(p.appointment).toDateString()}}</th>
	  </tr>
	</thead>
	<tbody>
	  <tr v-for="p in currentEvent.attendees">
	    <th scope="row"
		v-bind:class="{'table-danger': duplicateAttendee == p.nick}">
	      {{p.nick}}
	    </th>
	    <td v-for="d in currentEvent.proposals"
		v-on:click="toggle(p, d.id)"
		v-bind:class="{free: p.free.includes(d.id), occupied: p.occupied.includes(d.id)}">
	      <i v-if="p.free.includes(d.id)" class="bi bi-check"></i>
	      <i v-else-if="p.occupied.includes(d.id)" class="bi bi-x"></i>
	      <i v-else class="bi bi-question"></i>
	    </td>
	  </tr>
	  <tr class="table-primary">
	    <td>
		<small id="newAttendeeEmpty" class="text-danger error">
		Provide your name to attend choose a date.
		</small><small id="newAttendeeDuplicate" class="text-danger error">
		Someone with this name is already there, choose a different name.
		</small>
		<div class="input-group mb-3">
		  <input v-model="newAttendee"
			 v-on:keyup.enter="add"
			 id="newAttendeeInput"
			 type="text"
			 class="form-control"
			 placeholder="Your name"
			 aria-label="Your name">
		  <button class="btn btn-secondary" type="button" v-on:click="add">Participate</button>
	      </div>
	    </td>
	  </tr>
	</tbody>
      </table>
      </div>
    </div>

    <script type="text/javascript">
      function api_call(url, method='GET', body={}) {
	  body = method==='GET'? {} : {body: body}
	  return fetch((BACKEND_URL + '/api/' + url)
		       .replace(/([^:]\/)\/+/g, "$1"), {
			   method: method,
			   mode: 'cors',
			   cache: 'no-cache',
			   credentials: 'same-origin',
			   headers: { 'Content-Type': 'application/json' },
			   redirect: 'follow',
			   referrerPolicy: 'no-referrer',
			   ...body
		       })
      }

      function get_api(url)        { return api_call(url); }
      function post_api(url, body) { return api_call(url, 'POST', body); }
      function put_api(url, body)  { return api_call(url, 'PUT', body); }

      var app = new Vue({
	  el: '#calendar',
	  data: {
	      someother: false,
	      newEvent: {
		  name: "",
		  description: "",
		  proposals: [],
	      },
	      currentEvent: null,
	      newAttendee: "",
	      newProposal: null,
	      duplicateProposal: null,
	      duplicateAttendee: null,
	  },
	  mounted() {
	      if(window.location.href.endsWith('/')) {
		  return
	      }
	      params = window.location.href.split('/')
	      id = params[params.length - 1]
	      api_call(id).then(d=>d.json()).then(c => this.currentEvent = c);
	  },
	  methods: {
	      createEvent: function(e) {
		  e.preventDefault();

		  eventName.classList.remove("is-invalid");
		  dateFieldInput.classList.remove("is-invalid");

		  eventNameErrorMissing.style.visibility = "collapse";
		  eventProposalsTooFew.style.visibility = "collapse";

		  if(! this.newEvent.name || this.newEvent.name.length === 0) {
		      eventNameErrorMissing.style.visibility = "visible"
		      eventName.classList.add("is-invalid");
		      return;
		  }

		  if(this.newEvent.proposals.length < 2) {
		      eventProposalsTooFew.style.visibility = "visible"
		      dateFieldInput.classList.add("is-invalid");
		      return;
		  }

		  post_api('', JSON.stringify(this.newEvent))
		      .then(d => d.json())
		      .then(c => {
			  this.currentEvent = c;
			  history.pushState({urlPath: c.id}, "", c.id)
		      })
	      },
	      addProposal: function() {
		  const target = new Date(this.newProposal);
		  if(!this.newEvent.proposals.map(d => d.getTime()).includes(target.getTime())) {
		      this.newEvent.proposals.push(target);
		      this.newEvent.proposals.sort((lhs, rhs) => lhs.getTime() > rhs.getTime())
		      this.duplicateProposal = null;
		      duplicateProposal.style.visibility = 'collapse';
		  } else {
		      duplicateProposal.style.visibility = 'visible';
		      this.duplicateProposal = target.getTime();
		  }
	      },
	      removeProposal: function(proposal) {
		  this.newEvent.proposals = this.newEvent.proposals.filter(p => p.getTime() != proposal.getTime())
	      },
	      add: function() {
		  newAttendeeEmpty.style.visibility = 'collapse';
		  newAttendeeDuplicate.style.visibility = 'collapse';
		  newAttendeeInput.classList.remove("is-invalid");

		  if(!this.newAttendee && this.newAttendee.length == 0) {
		      newAttendeeEmpty.style.visibility = 'visible';
		      newAttendeeInput.classList.add("is-invalid");
		      return;
		  }

		  if(this.currentEvent.attendees.map(a => a.nick).includes(this.newAttendee)) {
		      newAttendeeDuplicate.style.visibility = 'visible';
		      newAttendeeInput.classList.add("is-invalid");
		      this.duplicateAttendee = this.newAttendee;
		      return;
		  }

		  var target = {'nick': this.newAttendee, 'free': [], 'occupied':[]}
		  post_api(this.currentEvent.id + '/attendee', JSON.stringify(target))
		      .then(d => d.json())
		      .then(c => {
			  target = c
			  this.currentEvent.attendees.push(target)
			  this.newAttendee = '';
		      })
	      },
	      toggle: function(attendee, date) {
		  if(attendee.free.includes(date)) {
		      attendee.occupied.push(date)
		      attendee.free.splice(attendee.free.indexOf(date), 1)
		  } else if (attendee.occupied.includes(date)) {
		      attendee.free.push(date)
		      attendee.occupied.splice(attendee.occupied.indexOf(date), 1)
		  } else {
		      attendee.free.push(date)
		  }

		  put_api(this.currentEvent.id + '/attendee/' + attendee.id,
			  JSON.stringify(attendee))
	      }
	  }
      })
    </script>
  </body>
</html>
